.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
