.container {
    background-color: #f7f7f9;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    justify-content: left;
    align-content: left;
    align-items: center;

    padding-top: 96px;
    padding-bottom: 96px;
}

.tooltip {
    color: #7478f8;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.tooltip svg {
    background-color: #f1f1f8;
    padding: 8px;
    width: 42px;
    height: 42px;
    border-radius: 16px;
}

.title {
    text-align: center;
    font-size: 2em;
    white-space: pre-wrap;
}

.input {
    background-color: #7478f8;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 32px;
    color: white;
    display: flex;
    flex-direction: row;
}

.input svg {
    padding: 8px;
    width: 42px;
    height: 42px;
    color: #7478f8;
    background-color: white;
    border-radius: 32px;
}

.input input {
    background-color: transparent;
    border: 0;
}

.input input:focus {
    outline: 0;
    box-shadow: 0;
}

.input input::placeholder,
.input input::-ms-input-placeholder {
    color: #ffffffcc;
    opacity: 1;
}