.cardContainer {
  max-width: 450px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: start;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s;
  place-self: start;
  align-self: start;
}

.card {
  z-index: 2;
}


.activeCard:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgb(99, 103, 247, 0.5);
}

.halfCircle,
.halfCircleTop {
  z-index: -1;
  position: absolute;
  /* align circle bottom with container bottom */
  bottom: 0;
  /* center horizontally */
  left: 50%;
  /* makes it a circle */
  border-radius: 50%;
  pointer-events: none;
}

.halfCircle {
  width: 510px;
  height: 510px;
  border: 42px solid #f8f8ff;
  transform: translateX(-50%) translateY(80%);
}

.halfCircleTop {
  width: 510px;
  height: 500px;
  border: 64px solid #f8f8ff8f;
  transform: translateX(-50%) translateY(70%);
}

.body {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.icon,
.avatar {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  color: #6367f7;
}

.avatar {
  object-fit: cover;
}

.time {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f7f7f9;
  border-radius: 2rem;
}

.age,
.year {
  font-size: 12px;
}

.age {
  padding: 8px;
  font-weight: 600;
}

.year {
  padding: 12px 16px;
  border-radius: 2rem;
  background-color: #6367f7;
  color: white;
}

.cardTitle {
  margin: 0 0 8px 0;
  font-size: 1.5rem;
  color: #13142A;
}

.cardLabel {
  font-size: 14px;
  color: #666B8D;
}

.features {
  list-style: none;
  padding-top: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.featureItem {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #f7f7f9;
  padding: 14px 18px;
  border-radius: 16px;
  max-width: 80%;
  transition: margin 0.3s ease;
}

.featureItem:nth-child(odd) {
  transform: translateX(-1em);
  /* margin-left: clamp(0px, 64px, 64px);
  margin-right: clamp(0px, 18px, 18px); */
}

.featureItem:nth-child(even) {
  transform: translateX(1em);
  /* margin-right: clamp(0px, 64px, 64px);
  margin-left: clamp(0px, 18px, 18px); */
}

.featureItem span {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: inline-block;

  mask-image: linear-gradient(to right, black 95%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 95%, transparent 100%);
}

.featureIcon {
  color: #6367f7;
}

.footer {
  margin-top: 2rem;
}